.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 15.5vh;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
  box-shadow: 0px 0.630645px 2.26129px rgba(97, 97, 97, 0.2),
    0px 1.26129px 3.52258px rgba(97, 97, 97, 0.2);
  border-radius: 20px;
  background-color: #e0e0e0;
  color: #414141;
  font-family: "Mulish", sans-serif;
}

@media (max-width: 800px) and (min-width: 500px) {
  .description {
    height: 10.5vh;
  }
}

@media (max-width: 500px) {
  .description {
    height: 5.5vh;
    font-size: 0.8em;
  }
}
