.button {
  width: 100%;
  height: 7vh;
  border: none;
  background: rgba(197, 220, 250, 0.5);
  color: #0f56b3;
  font-family: "Mulish", sans-serif;
  border-radius: 100px !important;
  &[disabled] {
    background: #fcd0cf;
    color: #a90e46;
  }
}
